/*Colores*/
:root{
    --primary: #ffe0c2;
    --secondary: #fed5ac;

    --onPrimary: #e9c5a0;

    --surfacePrimary: #edb67f;
    --onSurfacePrimary: #e0a56a;
}

/*Estructura*/
.adminHeader {
    padding: 20px;
    margin-top: 5%;
}

/*Tabla*/
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--secondary);
}

th, td {
    border: 1px solid var(--primary);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--primary);
}


th:nth-child(3), th:nth-child(4), th:nth-child(5) { /*Tercera, cuarta y quinta columna*/
    text-align: center;
}

td:nth-child(3), td:nth-child(4), td:nth-child(5) { /*Tercera, cuarta y quinta columna*/
    text-align: center;
}

tr:hover {
    background-color: var(--onPrimary);
}

img {
    max-width: 50px;
    max-height: 50px;
}

button {
    background-color: var(--surfacePrimary);
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--onSurfacePrimary);
}

img{
    border-radius: 25%;
}